
.uber-button{
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-right: 15px;
    border: none;
    transition: background-color 0.15s;
    font-family: Arial, Helvetica, sans-serif;

}

.uber-button:hover {
background-color: rgb(69, 69, 69);
}

.amazon-button{
    background-color: rgb(255, 216, 20);
    border-radius: 15;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 15px;
    font-weight:bold;
    margin-right: 15px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.amazon-button:hover{
    background-color: rgb(218, 218, 132);
}

.github-button{
    background-color: rgb(46, 164, 79);
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-right: 15px;
    transition: box-shadow 0.15s ;

}

.github-button:hover{
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2);
}

.boot-button{
    background-color: rgb(121, 82, 179);
    border-radius: 2px;
    font-weight: bold;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.15s,color 0.15s;
}

.boot-button:hover{
    background-color:  rgb(140, 95, 207) ;
    color:  rgb(213, 193, 244);
}

.down-button{
    background-color: white;
    color: grey;
    border-radius: 5px;
    border-color: grey;
    border-style: solid;
    font-weight: bold;
    border-width: 2px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    transition: color 0.15s, 
        background-color 0.15s;
}

.down-button:hover{
    background-color: gray;
    color: white;
}

.apply-button{
    background-color: rgb(10, 102, 194);
    color: white;
    margin-right: 10px;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.15s;
}

.apply-button:hover{
    background-color:  rgb(7, 82, 158);
}

.save-button{
    background-color: white;
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-radius: 15px;
    height: 30px;
    width: 75px;
    font-weight: bolder;
    cursor: pointer;
    border-style: solid;
    transition: border-width 0.15s,
        background-color 0.15s;
}

.save-button:hover{
    border-width: 3px ;
    background-color: rgb(175, 197, 241);
}
