.bold{
    
    font-size: 25px;
    margin-bottom: 15px;
    color: rgb(0, 113, 133);
    transition: color 0.15s;
}

.bold:hover{
    color:orange
}

.h1{
    font-weight: bold;
    font-weight: 200;
    margin-bottom: 15px;
}

.stock{
    color: rgb(0, 118, 0);
    font-weight: bold;
    font-size: 25px;
}

.free{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;

}
.cart-button{
    background-color: rgb(255, 216, 20);
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    font-size: 15px;
    transition: background-color 0.15s, opacity 0.15s;

}

.cart-button:hover{
    background-color:rgb(236, 222, 151) ;
}

.cart-button:active{
    opacity: 0.4;
}

.buy-button{
    background-color: rgb(255, 164, 28);
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    font-size: 15px;
    transition: background-color 0.15s, opacity 0.15s;
}

.buy-button:hover{
    background-color: rgb(238, 199, 141);
}

.buy-button:active{
    opacity: 0.4;
}
